<a href="https://colab.research.google.com/github/RosanaR2017/MinTIC2022/blob/master/8_Tuplas_en_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tuplas en Python

Una tupla es una secuencia de elementos que puede almacenar datos heterogeneos tales como: float, strings, listas y diccionarios. Como los strings, las tuplas son inmutables.

In [ ]:
#Así se crea una tupla vacía
tupl = ()
print(tupl)

()

In [ ]:
#Una tupla con un elemento
tupl2 = ("Este es un elemento", ) #python requiere la coma final para considerarla como una tupla
print(tupl2)

('Este es un elemento',)

Para crear una tupla, se almacenan los valores separados por comas:

In [ ]:
tup = (1, 2, 3, 4.6, 'hola', 'a') #una tupla de 6 elementos
print(tup)

(1, 2, 3, 4.6, 'hola', 'a')

## Variables

Si se define una variable así, también se creará una tupla:

In [ ]:
x = () # x igual a tupla vacía

In [ ]:
tup = (1, 2, 3, 4.6, 'hola', 'a') #tup es igual a esta tupla con 6 elementos

In [ ]:
a = 1, 2, 3
a

(1, 2, 3)

In [ ]:
type(a)

tuple

## Tuplas anidadas

Es posible crear tuplas que tengan tuplas como elementos (anidadas)

In [ ]:
tuple1 = (0, 1, 2, 3)
tuple2 = ('A', 'B', 'C')
tuple3 = (tuple1, tuple2)
print(tuple3)
print(tuple3[0])
print(tuple3[1][0])

((0, 1, 2, 3), ('A', 'B', 'C'))
(0, 1, 2, 3)
A

## Operador concatenar

Concatena dos tuplas

In [ ]:
tup1 = ('A', 'B', 'C', 'E')
tup2 = (1,2,3,4,5)
tup3 = tup1 + tup2
print(tup3)

('A', 'B', 'C', 'E', 1, 2, 3, 4, 5)

## Operador repetir

Crea una tupla con múltiples copias de una tupla, tantas como se defina:

In [1]:
tup2 = (1,2,3,4,5)
tup3 = tup2*3
print(tup3)
tup4 = ('Abc', 'Bcd')
tup5 = tup4*2
print(tup5)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
('Abc', 'Bcd', 'Abc', 'Bcd')

## Operador Comparar

Es posible comparar dos tuplas con ==, >=, <, <=, != Se comparan de izquierda a derecha:

In [ ]:
print( ('Rojas', 123) < ('Rosas', 123) )
print( ('Rosas', 123) == ('rosas', 123) )
print( ('Rosas', 123) > ('Rosas', 23) )

True
False
True

In [ ]:
a = ('Rojas', 123)
b = ("Rojas", 123)
c = ("Rosas", 123)

print( a == b )
print( a == c )

True
False

## Operador is

Se puede usar el operador is para determinar si dos tuplas son la misma (referencian al mismo objeto).

In [ ]:
a = ('Rojas', 123)
b = ("Rojas", 123)
c = a
print(id(a))
print(id(b))
print( a == b )
print( a is b )
print( a == c )
print( a is c )

1822246202952
1822245909448
True
False
True
True

## Operador subindice [] (subscript)

Para acceder a un valor particular de una tupla se especifica su posición con corchetes ```[]```:

In [6]:
avengers = ("Ironman", "Spiderman", "Ant-man", "Hulk")
print(avengers[0]) 
print(avengers[3])
print(avengers[-1])    
print(avengers[-3])

Ironman
Hulk
Hulk
Spiderman

### Subtuplas

Obtener una parte de la tupla [inicio:fin:incremento]

In [7]:
avengers[1:3]

('Spiderman', 'Ant-man')

In [8]:
avengers[::-1]

('Hulk', 'Ant-man', 'Spiderman', 'Ironman')

Si se intenta indexar por fuera de la tupla, se retorna una tupla vacía:

In [9]:
avengers[len(avengers):len(avengers)+1]

()

## Consultando una tupla  (operador in)

Para saber si un elemento está en una tupla se puede utilizar el operador in:

In [ ]:
text = ('cien', 'años', 'de', 'soledad' )
if 'años' in text:
    print('yes')

yes

## Iterando una tupla

Es posible iterar una tupla usando el ciclo for:

In [ ]:
s = ("hola", "amigos", "mios")
for palabra in s: #para cada palabra de la tupla
    print(palabra + ",", end=' ')

hola, amigos, mios,

## Asignando múltiples variables 

Es posible asignarle los valores a un grupo de variables usando la asignación y el concepto de tupla.

In [ ]:
tupla = (1, -2, 3)
a, b, c = tupla
print('a=', a)
print('b=', b)
print('c=', c)

a= 1
b= -2
c= 3

## Intercambiando variables

Es posible intercambiar los valores de un grupo de variables usando la
asignación y el concepto de tupla.

In [ ]:
a = 1
b = 3
a, b = b, a
print('a=', a)
print('b=', b)

a= 3
b= 1

## Tuplas y funciones

Es posible retornar más de un valor en una función usando el concepto de tupla:

In [ ]:
def minmax( a, b ):
  if a<b:
    return a, b
  else:
    return b,a

x, y = minmax( 5, 13 )
print('min=', x, 'max=', y)
x, y = minmax( 12, -4)
print('min=', x, 'max=', y)

min= 5 max= 13
min= -4 max= 12

## Métodos de tuplas

Longitud (dimensión) de la tupla:

In [ ]:
tup = (1,2,3,4)
nombre = ("Minch", "Yoda")
trabajo = ("Stars", "War", "Movie")
print(len(tup))
print(len(nombre))
print(len(trabajo))

4
2
3

## Contando

El método count obtiene las veces que un elemento se encuentra en una tupla.

In [ ]:
tupla = (4, 3, 8, 8, 2, 5, 4, 6, 8, 9)
print(tupla.count(2))
print(tupla.count(8))
print(tupla.count(5))

1
3
1

## Buscando 

El método index obtiene la primera ocurrencia de un elemento en una tupla.

In [ ]:
tupla = (4, 3, 8, 8, 2, 5, 4, 6, 8, 9)
print(tupla.index(2))
print(tupla.index(8))
print(tupla.index(5))

4
2
5

## Máximo y mínimo (max, min) 

El método max/min obtiene el maximo/mínimo elemento de una tupla.

In [ ]:
t = (4,5,-1,6,7)

In [ ]:
max(t)

7

In [ ]:
min(t)

-1

In [ ]:
t = (4,-1,4.0,-2)

In [ ]:
max(t)

4

In [ ]:
t = (4.0,-1,4,-2)
max(t)

4.0

In [ ]:
tup1 = ('alice', 'bob', 'zorg')
max(tup1)

'zorg'

In [ ]:
min(tup1)

'alice'

## De cadena a tupla

El método tuple se usa para crear tuplas a partir de otros objetos, aquí se usa para convertir una cadena de carácteres a tupla.

In [ ]:
magician = 'Dumbledore'
tm = tuple(magician) 
print(tm)

('D', 'u', 'm', 'b', 'l', 'e', 'd', 'o', 'r', 'e')

## La palabra del

```del``` se puede utilizar para eliminar una tupla del notebook

In [ ]:
del(tm)
#tm

## Desempacar (unpacking) de variables

Una forma rápida de desempacar y asignar variables de una tupla es la siguiente:

In [ ]:

tup1 = (1, 2, 3)
a, b, c = tup1
print('a:', a, 'b:', b, 'c:', c)
#Si se intentan obtener más valores de los que tiene la tupla se obtendrá el error: ```ValueError```
tup1 = (5,6)
#a,b,c = tup1 #ValueError!

a: 1 b: 2 c: 3

## La función ```map(function, tuple|list)```

Ejecuta una función para cada uno de los valores de una tupla o una lista. Un truco muy usado es leer todos los valores de una tupla en una sola línea:

In [ ]:
t = tuple(map(int, input().split(' '))) #digite por ejemplo 1 2 3
print(t) 
print(t[0] + t[1])

1 2 3
(1, 2, 3)
3

## Ejercicio 1

Obtener por código el elemento 20 de la siguiente tupla:

In [ ]:
aTuple = ("Naranjita", [10, 20, 30], (5, 15, 25))

In [ ]:
print(aTuple[1][1])

20

## Ejercicio 2

Dados dos números enteros construya una función que retorne al mismo tiempo el cociente y el residuo de la división utilizando tuplas:

<table>
    <tr>
    <td>input</td><td>output</td>
    <tr>
    <tr>
    <td>10<br>3</td><td>cociente: 3<br>residuo: 1</td>
    <tr>
<table>

In [ ]:
def mod_res(a,b):
  a=10//3
  b=10%3
  return a,b 

a,b=mod_res(10,3)
print(a,",",b,sep="")

3,1

## Ejercicio 3 - Distancia entre dos puntos

Utilizando tuplas elabore una función que retorne la distancia entre dos puntos $p$ y $q$ definidos en un espacio de 3 dimensiones:

La distancia corresponde a aplicar: $d = \sqrt{(x_2-x_1)^2 + (y_2-y_1)^2 + (z_2-z_1)^2}$ 


![](https://github.com/arleserp/MinTIC2022/blob/master/images/3dpoints.gif?raw=1)

### Entrada
La entrada corresponde a los valores de cada una de las coordenadas x, y, z de cada punto:

### Salida
Un único valor correspondiente a la distancia entre los dos puntos.

<table>
    <tr>
        <td>Input</td><td>output</td>
    </tr>
    <tr>
        <td>0 1 1<br>-1 -1 4</td><td>3.7416573867739413</td>
    </tr>
    
Para una mayor referencia puede consultar [distancias en el espacio](https://www.vadenumeros.es/segundo/distancias-en-el-espacio.htm)

In [41]:
def dist(p1,p2):
  d= ((p1[0]-p2[0])**2 +(p1[1]-p2[1])**2 +(p1[2]-p2[2])**2)**(1/2)
  return d

In [42]:
p1 = tuple(map(int, input("Please enter x1,y1,z1:\n").split(',')))
p2 = tuple(map(int, input("Please enter x2,y2,z2:\n").split(',')))

print(p1[0], p1[1], p1[2], sep=",")
print(p2[0], p2[1], p2[2], sep=",")
print(dist(p1,p2))

Please enter x1,y1,z1:
0,1,1
Please enter x2,y2,z2:
-1,-1,4
0,1,1
-1,-1,4
3.7416573867739413

# Referencias:

https://www.geeksforgeeks.org/tuples-in-python/

Das, B. N. (2017). Learn Python in 7 Days. Packt Publishing Ltd.

[https://www.wolframalpha.com](https://www.wolframalpha.com/input/?i=distance+between+two+points&assumption=%7B%22MC%22%2C+%22%22%7D+-%3E+%7B%22Calculator%22%7D&assumption=%7B%22F%22%2C+%22DistanceCalculator%22%2C+%22point1%22%7D+-%3E%22%7B0%2C+1%2C+1%7D%22&assumption=%7B%22F%22%2C+%22DistanceCalculator%22%2C+%22point2%22%7D+-%3E%22%7B-1%2C+-1%2C+4%7D%22)

https://www.vadenumeros.es/segundo/distancias-en-el-espacio.htm

Gomez, J, Rodriguez A y Cubides C. La ciencia de Programar. Universidad Nacional de Colombia.

Rodríguez, A (2020). Curso de Programación en Python. https://github.com/arleserp/cursopython